<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link -%}

    <link rel="stylesheet" href="
        {{ url_for( 'static', filename='css/style.css' ) }}
    ">
    {% endblock link -%}
    {% block title -%}
        <title>
            {% if title %}
                {{ title }}
            {% else %}
                Flask
            {% endif %}
        </title>
    {% endblock %}
</head>
<body>
    <header>
        {%- block nav -%}
        <ul class="nav">
            {% for i in nav[1:] %}
                <li><a href="{{ i['url'] }}">{{ i['name'] }}</a></li>
            {% endfor %}
            <li><a href="/profile/{{session['userLogged']}}">Profile</a></li>
        </ul>
        {%- endblock nav -%}
    </header>
    <main>
        {%- block content -%}
            <h1>
                {% if title %}
                    {{ title }}
                {% else %}
                    Flask
                {% endif %}
            </h1>
        {%- endblock -%}
        {% block script  %}
        <script src="
            {{ url_for( 'static', filename='js/main.js' ) }}
        "></script>
        {% endblock script %}
    </main>
    {% block script_socket %}
    <!--  -->
    {% endblock script_socket %}
</body>
</html>