{% extends 'base.html' %}
    {% block link -%}
        {{ super() }}
        <link rel="stylesheet" href="
            {{ url_for( 'static', filename='css/reset.css' ) }}
        ">
        <link rel="stylesheet" href="
            {{ url_for( 'static', filename='css/style-4ch.css' ) }}
        ">
    {% endblock link -%}
    {%- block nav -%}
        {{ super() }}
        <div id="header" class="header">
            <div class="logo">
                <img src="{{ url_for( 'static', filename='img/ch-monika.png' ) }}" class="logo__img" alt="monika">
                <h1 class="logo__title">
                    4-ch
                </h1>
            </div>
            <div class="create_tred">
                <div class="posting-form__text">
                    {{ title }}
                </div>
            </div>
            <div class="posting-form">
                <div class="posting-form__text">
                    Форма постинга
                </div>
                <form action="/4ch/{{ tred_name }}" method="POST" class="form-posting" enctype="multipart/form-data">
                    <p><textarea name="text-tread" cols="57" rows="6" autofocus></textarea></p>
                    <p><input type="submit" class="form-batton" value="Отправить"></p>
                    <p><input class="form-batton" type="file" name="image" id="image"></p>
                </form>  
            </div>
            <img class="header__gif" src="{{ url_for( 'static', filename='img/gif/' + gif + '.gif' ) }}" alt="gif">
        </div>
    {%- endblock nav -%}
    {%- block content -%}
    <div class="main">
        <div class="left-menu">
            опциональная информация для анонов: <br><br>
            Подрерживаем форматы:
            <ul class="left-menu__ul">
                <li>.png</li>
                <li>.jfif</li>
                <li>.jpg</li>
                <li>.mp4</li>
                <li>.webm</li>
            </ul>
        </div>
        <div id="tered-section" class="tered-section">
            {% for i in tred %}
            <div class="block__post">
                <div class="out_post">
                    <div class="boc">
                        ...
                    </div>
                    <div class="post">
                        <!-- пост -->
                            <div class="annon-info">
                                <span class="post__id">{{ i[0] }}</span> Аноним:
                            </div>
                            <div class="post__content">
                                {% if i[2] != None and i[3] == 'jpeg' %}
                                <a class="post-img-link" href="{{ url_for('image_route', post_id=i[0], tred=tred_name) }}" target="_blank">
                                    <img class="post_img" src="{{ url_for('image_route', post_id=i[0], tred=tred_name) }}" alt="Image">
                                </a>
                                {% elif i[2] != None and (i[3] == 'mp4' or i[3] == 'webm' ) %}
                                    <video id="vid" onclick="videoOn('{{i[0]}}')" autoplay muted class="post_video" type="video/mp4" loop="1">
                                        <source src="{{ url_for('image_route', post_id=i[0], tred=tred_name) }}" type="video/mp4" />
                                    </video>
                                    <div id="video_play_{{ i[0] }}" class="video_play_block draggable">
                                        <video id="video_{{ i[0] }}" controls class="post_video video_play video_arr" type="video/mp4" loop="1">
                                            <source src="{{ url_for('image_route', post_id=i[0], tred=tred_name) }}" type="video/mp4" />
                                        </video>
                                    </div>
                                    <!-- muted autoplay controls -->
                                {% endif %}
                                {{ i[1] }}
                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{%- endblock content -%}
    {% block script  %}
        <script src="{{ url_for( 'static', filename='js/socket.js' ) }}">
        </script>
        <script src="
        {{ url_for( 'static', filename='js/script-4ch.js' ) }}
        "></script>
    {% endblock script %}